

<div id="requestpage">
<div class = "container">
<div class = "row">
<div class = "col s6">
{{#each pets}}
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <h4>Sitters Name: {{this.requestName}}</h4>
          <span class="card-title">{{this.petName}}</span>
          <div><img class="petimage" src="{{this.pictureLink}}"></div>
          <p>Price: ${{this.price}}/day</p>
          <p>Dates: {{this.startDate}} - {{this.endDate}}</p>
          <button type="submit" data-id="{{this.id}}" class="approve" class="btn btn-light">Approve</button>
          <button type="submit" data-id="{{this.id}}" class="deny" class="btn btn-light">Deny</button>
      </div>
    </div>
  {{/each}}


{{!-- {{#each pets}}
    <h2>{{this.requestName}}</h2>
    <button type = "submit" data-id = "{{this.requestsId}}" id = "#moreInfo" class = "btn btn-light">More Info</button>
     <h2> {{this.petName}} </h2>
     <div><img class="petimage" src = "{{this.pictureLink}}"></div>
     <p>{{this.location}}</p>
     <p>{{this.price}}</p>

     <button type="submit" data-id="{{this.id}}" class="approve" class="btn btn-light">Approve</button>
     <button type="submit" data-id="{{this.id}}" class="deny" class="btn btn-light">Deny</button>
  {{/each}} --}}
</div>

<div class = "col s3">
    <h5>Your pet Sitters</h5>
    {{#each userPets}}
        <div class = "row">
            <div class = "col s4">
                {{petName}}
            </div>
            <div class = "col s4">
                {{SitterNumber}}
            </div>
            <div class = "col s4">
                <button type = "submit" data-id = "{{id}}" class = "endSit" class="btn btn-light">X</button>
            </div>
        </div>
    {{/each}}
</div>
<div class = "col s3">
    <h5>Pets You are Sitting</h5>
    {{#each userSits}}
        <div class = "row">
            <div class = "col s4">
                {{petName}}
            </div>
            <div class = "col s4">
                {{OwnerPhone}}
            </div>
            <div class = "col s4">
                <button type = "submit" data-id = "{{id}}" class = "endSit" class="btn btn-light">X</button>
            </div>
        </div>
    {{/each}}
</div>
</div>
</div>
</div>
<script src = "/js/requests.js"></script>
