
<div id="requestpage">

<div id ="placeHolder" class = "container" style="padding-top: 2%;">

{{!-- Displays all current user requests --}}
<div class = "row">
<div class = "col s6">
{{#each pets}}
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text center-align">
          <h4>Sitters Name: {{this.requestName}}</h4>
          <span class="card-title">{{this.petName}}</span>
          <div><img class="userPetImage" src="{{this.pictureLink}}"></div>
          <p>Price: ${{this.price}}/day</p>
          <p>Dates: {{this.startDate}} - {{this.endDate}}</p>
          <button type="submit" data-id="{{this.id}}" class="approve btn blue lighten-2" name = "action">Approve</button>
          <button type="submit" data-id="{{this.id}}" class="deny btn red lighten-2">Deny</button>
      </div>
    </div>
  {{/each}}
</div>

{{!-- Displays all info for users sitting the users pets --}}
<div class = "col s3">
    <h5>Your pet Sitters</h5>
    {{#each userPets}}
        <div class = "row">
            <div class = "col s4">
                {{petName}}
            </div>
            <div class = "col s4">
                {{SitterNumber}}
            </div>
            <div class = "col s4">
                <button type = "submit" data-id = "{{id}}" class = "endSit btn red lighten-2">X</button>
            </div>
        </div>
    {{/each}}
</div>

{{!-- Displays all info for pets user is approved to sit --}}
<div class = "col s3">
    <h5>Pets You are Sitting</h5>
    {{#each userSits}}
        <div class = "row">
            <div class = "col s4">
                {{petName}}
            </div>
            <div class = "col s4">
                {{OwnerPhone}}
            </div>
            <div class = "col s4">
                <button type = "submit" data-id = "{{id}}" class = "endSit btn red lighten-2">X</button>
            </div>
        </div>
    {{/each}}
</div>
</div>
</div>
</div>
<script src = "/js/requests.js"></script>
