
  <div id="animal" class="input-field col s12">
    <select id = "animalType">
      <option value="" disabled selected>Select A Pet Type</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="bird">Bird</option>
    </select>
    <a id= "selectpetbtn"class="waves-effect waves-light btn-large">Button</a>

  </div>
  
<div>
  {{#each pets}}
    
     <h2> {{this.petName}} </h2>
     <div><img src = "{{this.pictureLink}}"></div>
     <p>{{this.locaton}}</p>
     <p>{{this.price}}</p>

     <button type="submit" data-id="{{this.id}}" id="select" class="btn btn-light">Select this Pet</button>
  {{/each}}
</div>
