<div id = "placeHolder" class="container">
  <div class="row">
    <div class = "col s5">
    <div id="animal" class="input-field">
    <select id = "animalType">
      <option value="" disabled selected>Select A Pet Type</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="bird">Bird</option>
    </select>
    </div>
    </div>
    <div class = "col s5">
    <div class="input-field">
          <input placeholder="Zip Code" id="zipCodeSearch" type="text" class="validate">
          
        </div>
  </div>
  <div class = "col s2">
    <a id= "selectpetbtn"class="blue lighten-2 btn-large">Select</a>
</div>
  </div>
<div>
  {{#each pets}}
    
     <h2> {{this.petName}} </h2>
     <div><img class="petimage" src = "{{this.pictureLink}}"></div>
     <p>{{this.location}}</p>
     <p>{{this.price}}</p>

     <button type="submit" data-id="{{this.id}}" id="selectPet" class="btn btn- blue lighten-2">Select this Pet</button>
  {{/each}}

</div>
<script src = "/js/members.js"></script>
