<div class="bg">

<div id="searchpage">
  <div id = "placeHolder" class="container">
  <div class="row">
    <div class = "col s5">
    <div id="animal" class="input-field">
    <select id = "animalType">
      <option value="" disabled selected>Select A Pet Type</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="bird">Bird</option>
      <option value="reptile">Reptile</option>
      <option value="other">Other</option>
    </select>
    </div>
    </div>
    <div class = "col s5">
    <div class="input-field">
          <input placeholder="Zip Code" id="zipCodeSearch" type="text" class="validate">
          
        </div>
  </div>
  <div class = "col s2">
    <a id= "selectpetbtn"class="blue lighten-2 btn-large">Select</a>
</div>
  </div>


<div class="searchresults">
 
    <div class="row">
      <div class="col-sm-2">
        {{#each pets}}
        <div class="card blue-grey lighten-5"> 
          <span class="card-title"> <h2> {{this.petName}} </h2></span>
      <div>
      <img class="petimage" src = "{{this.pictureLink}}"></div>
     <p class="price">Price Per Day: {{this.price}}</p>
     <p class="price">{{this.body}}</p>
     <p class="price">Start Date: {{this.startDate}}<br> End Date: {{this.endDate}}</p>


     <button type="submit" data-id="{{this.id}}" class="selectPet btn blue lighten-2">Select this Pet</button>
 </div>
{{/each}}

</div>

</div> 
</div>  
<br>
<div class="row">
  <ul class="pagination center-align" id = "pages">
    <p>Pages</p>
  </ul>
</div></div></div>
<script src = "/js/search.js"></script>
<script src = "/js/members.js"></script>
<script src = "/js/requests.js"></script>


</div>