<div>
  {{#each pets}}
    
     <h2> {{this.petName}} </h2>
     <div><img src = "{{this.pictureLink}}"></div>
     <p>{{this.locaton}}</p>
     <p>{{this.price}}</p>

     <button type="submit" data-id="{{this.id}}" id="select" class="btn btn-light">Search for Pets</button>
  {{/each}}
</div>