<div id="searchpage">
  <div id = "placeHolder" class="container">
  <div class="row">
    <div class = "col s5">
    <div id="animal" class="input-field">
    <select id = "animalType">
      <option value="" disabled selected>Select A Pet Type</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="bird">Bird</option>
      <option value="reptile">Reptile</option>
      <option value="other">Other</option>
    </select>
    </div>
    </div>
    <div class = "col s5">
    <div class="input-field">
          <input placeholder="Zip Code" id="zipCodeSearch" type="text" class="validate">
          
        </div>
  </div>
  <div class = "col s2">
    <a id= "selectpetbtn"class="blue lighten-2 btn-large">Select</a>
</div>
  </div>
<div class="searchresults">
  {{#each pets}}
    <div class="row">
      <div class="col 4">
     <h2> {{this.petName}} </h2>
     <div><img class="petimage" src = "{{this.pictureLink}}"></div></div>
     <div class="col 8">
     <p>{{this.price}}</p>
     <p>{{this.body}}</p>
     <p>Start Date: {{this.startDate}} End Date: {{this.endDate}}</p>
</div></div>
     <button type="submit" data-id="{{this.id}}" class="selectPet" class="btn blue lighten-2">Select this Pet</button>
  {{/each}}

</div>
<div class="row">
  <ul class="pagination center-align" id = "pages">
    <p>Pages</p>
  </ul>
</div></div></div>
<script src = "/js/search.js"></script>
<script src = "/js/members.js"></script>
<script src = "/js/requests.js"></script>
