  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Select A Pet Type</option>
      <option value="1">Dog</option>
      <option value="2">Cat</option>
      <option value="3">Bird</option>
    </select>
  </div>

<div>
  {{#each pets}}
    
     <h2> {{this.petName}} </h2>
     <div><img src = "{{this.pictureLink}}"></div>
     <p>{{this.locaton}}</p>
     <p>{{this.price}}</p>

     <button type="submit" data-id="{{this.id}}" id="select" class="btn btn-light">Search for Pets</button>
  {{/each}}
</div>



