<div id="userpage">
<div class="container" id="userMain">
  <div class="row">
    <div class="col s6">
      <div class="row">
        <form id="petInsert" class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="petName" type="text" class="validate">
              <label for="petName">Pet Name</label>
            </div>
            <div class="input-field col s6">
              <select id="petType" type="text" class="validate">
                <option value="" disabled selected>Select A Pet Type</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="bird">Bird</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="zipCode" type="text" class="validate">
              <label for="zipCode">Zip Code</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="price" type="text" class="validate">
              <label for="price">Price/day</label>
            </div>
          </div>
          <div class="input-field col s6">
              <input id="beginDate" type="date" class="validate">
              <label for="petName">Beginning Date</label>
            </div>
              <div class="input-field col s6">
              <input id="endDate" type="date" class="validate">
              <label for="petName">End Date</label>
            </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="petPhoto" type="text" class="validate">
              <label for="petPhoto">Pet Photo link</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="body" type="text" class="validate">
              <label for="body">Additional Info</label>
            </div>
          </div>
          <button id="addPet" class="btn blue lighten-2" type="submit" name="action">Add Pet
            <i class="material-icons right"></i>
          </button>
        </form>
      </div>
    </div>
<div id="userpets">
{{#each pets}}
    <div class="col s6">
      <div class="card  blue-grey lighten-5">
        <div class="card-content black-text">
          <span class="card-title">{{this.petName}}</span>
          <div><img class="petimage" src="{{this.pictureLink}}"></div>
          <p>Price: ${{this.price}}/day</p>
          <p>Dates: {{this.startDate}} - {{this.endDate}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
    </div>
  </div>
</div>
</div>
<script src="/js/members.js"></script>
<script src="/js/pet.js"></script>
<script src = "/js/requests.js"></script>